/.env

models/
vosk-model*/
*/vosk-model*/

node_modules/
package-lock.json

# Logs y cachés
app.log*
__pycache__/
.venv/
*.fst  # Ignorar archivos específicos grandes

app.log
app.log.1
app.log.2
app.log.3

sonar-project.properties
*/bin/chromedriver-win64*/
*/.vscode/
